html {
  scroll-behavior: auto;
}

body {
  /* overflow: hidden; */
  background-repeat: no-repeat;
  background-size: auto;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  scroll-behavior: auto;

}

#titlePage {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(9, 255, 0), 0 0 1em rgb(114, 145, 5), 0 0 0.2em rgb(13, 197, 68);

}

#corp {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#header {
  background-color: black;
  width: 100%;
  
}

.MidPage {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 417px;
  background: linear-gradient(to bottom right, rgb(103, 121, 105), rgb(10, 9, 9));
}

#logoR {
  width: 20px;
  height: 20px;
}

#car {
  position: relative;
  width: 100%;
  height: 417px;
  
}

#cadre1 {
  position: relative;
  width: 100%;
  border: 2px solid rgb(20, 139, 4);
  font-family: cursive;
  font-size: 2em;
  background-color: black;
  
}

#cadre2 {
  position: relative;
  width:100%;
  border: 2px solid rgb(20, 139, 4);
  font-family: cursive;
  font-size: 1.5em;
  background: linear-gradient(to bottom right, rgb(103, 121, 105), rgb(10, 9, 9));
  
}
#cadre3 {
  position: relative;
  width:100%;
  border: 2px solid rgb(12, 14, 12);
  font-family: cursive;
  font-size: 1em;
  background: linear-gradient(to bottom right, rgb(103, 121, 105), rgb(10, 9, 9));
}

#menuToggle {
  display: block;
  position: relative;
  top: 92px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color:  rgb(36, 78, 7);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  color: teal;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(31, 204, 8);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  font-family: cursive;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background:  rgb(20, 139, 4);
  border-radius: 5px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

#cadreImage {
  position: relative;
  border: teal 2px solid;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(9, 255, 0), 0 0 1em rgb(114, 145, 5), 0 0 0.2em rgb(13, 197, 68);
}

#image-menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  
}

 #zonePhotos {

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 340px;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
} 
footer{
  position: absolute;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
.imageZonePHOTO1{
  
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 500px;
  height: 312px;
  border: 2px solid rgb(20, 139, 4);
  border-radius: 5px;
  scroll-behavior: smooth;
  font: 1em sans-serif;
  text-align: center;
  background-color: black;
  
}
a{
 
 text-decoration: none;
 color: whitesmoke;
 font-family: cursive;
}
.imageZonePHOTO2{
 
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 500px;
  height: 312px;
  border: 2px solid rgb(20, 139, 4);
  border-radius: 5px;
  scroll-behavior: smooth;
  font: 1em sans-serif;
  
}
.imageZonePHOTO3{
  
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 500px;
  height: 312px;
  border: 2px solid rgb(20, 139, 4);
  border-radius: 5px;
  scroll-behavior: smooth;
  font: 1em sans-serif;
  
}

#text{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
p{
  padding: 4px;
  position: relative;
  text-align: left;
  scroll-behavior: smooth;
}
/* @media screen and (max-width:724px),(min-width:724px){
  div,img{
    display: flex;
    justify-content: space-around;
  }
} */